@media(max-width:576px){
.img4 img {
    width: 29%;
}
.img4 {
    position: absolute;
    top: 33%;
    right: 12%;
}
.img3 img {
    width: 35%;
}
.font-size span{
	font-size:12px;
}
}
@media(min-width:768px) and (max-width:991px){
.img3 {
    position: absolute;
    top: 33%;
    left: -14%;
}
.img4 {
    position: absolute;
    top: 31%;
    right: 35%;
}
.img2 {
    position: absolute;
    top: 51%;
    right: 4%;
    left: -21%;

}
